.pagination {
  display: flex;
  gap: 12px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.pageRow {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.pageNumber {
  background-color: white;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.348);
  cursor: pointer;
  transition: background-color, color, ease-in-out 300ms;
}
.pageNumber:disabled {
  background-color: rgb(65, 85, 235);
  color: white;
  cursor: default;
  opacity: 0.5;
  transform: scale(1.15);
}
.pageNumber:enabled:hover {
  background-color: rgb(65, 85, 235);
  color: white;
}

.arrow {
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
}
.arrow:disabled {
  cursor: default;
}